<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <title>Welcome to the site displaying Daniel's Bar-Mitzva photos</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div>
	<h1>Daniels pictures on Google Photos Platform</h1>
    </div>
    <footer>
        <p>&copy;The photographs contained herein are intended solely for personal viewing by family and friends. </p>
        <p>Any unauthorized utilization of these photographs for commercial or business purposes will result in appropriate legal action being taken. </p>
    </footer>
    <script src="static/js/index.js"></script>
</body>