/* Your CSS styles here */
body {
        background-image: url('https://www.bing.com/images/create/a-continual-burnt-offering2c-as-the-one-offered-up-/65316e8a9af24d0c875a012088b1e05e?id=m9CpkFay%2b%2biHJUWWmidGJw%3d%3d&view=detailv2&idpp=genimg&idpclose=1&adlt=strict&FORM=SYDBIC');
        background-size: cover;
        background-repeat: no-repeat;
        /*font-family: Arial, sans-serif;*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*background-color: #f5f5f5;*/
        text-align: center;
}
/* Define the 3D text effect */
.header {
  font-size: 36px;
  font-weight: bold;
  color: #ff9900; /* Text color */
  text-shadow: 2px 2px 0 #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
    text-align: center;
}

/* Add additional styles for other elements */
p {
  font-size: 18px;
  color: #333;
  text-align: center
}

/* Apply a vintage frame to all images */
img {
  border: 10px solid #6c4747; /* Border with a vintage color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Vintage shadow effect */
  margin: 10px; /* Adjust margin for spacing */
  padding: 10px; /* Padding for spacing and inner frame */
  background-color: #ffecb3; /* Inner frame color */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #800000 10%, #000000 90%);
    padding: 20px;
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
    width: 800px; /* Match the width of the iframe */
    height: 600px; /* Match the height of the iframe */
}

/* Style the embedded iframe */
.video-container iframe {
    width: 100%; /* Allow the iframe to take the full width */
    height: 100%; /* Allow the iframe to take the full height */
    position: relative;
    background-color: #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* Top Curtain */
.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust the curtain height */
    background: linear-gradient(to bottom, #800000 10%, #000000 90%);
}

/* Left Curtain */
.video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px; /* Adjust the curtain width */
    height: 100%;
    background: linear-gradient(to right, #800000 10%, #000000 90%);
}

/* Right Curtain */
.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 25px; /* Adjust the curtain width */
    height: 100%;
    background: linear-gradient(to left, #800000 10%, #000000 90%);
}

/*more style here*/
