/* Your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header {
      font-size: 36px;
      font-weight: bold;
      color: #ff9900; /* Text color */
      text-shadow: 2px 2px 0 #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
}
/* ... other styles ... */
